<q-layout view="lHh Lpr lFf">
  <q-layout-header>
    <q-toolbar color="primary" :glossy="$q.theme === 'mat'" :inverted="$q.theme === 'ios'">
      <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
        <q-icon name="menu" />
      </q-btn>

      <q-toolbar-title>Template Two
        <div slot="subtitle">Version {{ version }}</div>
      </q-toolbar-title>
    </q-toolbar>

    <q-toolbar color="light-blue-8" text-color="black" icon="">
      <q-collapsible icon="explore" label="Information" style="width: 100%;">
        <drawer-content title="" />
      </q-collapsible>
    </q-toolbar>
  </q-layout-header>

  <q-layout-drawer v-model="leftDrawerOpen" :content-class="$q.theme === 'mat' ? 'bg-blue-grey-5' : null" class="q-layout-drawer-bg">
    <drawer-banner />
    <drawer-profile />

    <div class="left-drawer-bottom">
      <div class="left-drawer-bottom-top">
        <drawer-link class="row" />
      </div>
      <div class="text-right q-pa-sm left-drawer-bottom-text">
        {{this.$conf.author}}
        <br>
        {{this.$conf.org}}
      </div>
    </div>
  </q-layout-drawer>

  <q-page-container>
    <router-view />
  </q-page-container>
</q-layout>

</script>
